{% set variant_class = variant ? 'list--' ~ variant : null %}

{% set classes = [
  'list',
  variant_class,
] %}

{% set tag = variant != 'none' ? variant : 'ul' %}

{% set container_classes = [
  'list__container',
  layout,
  set_padding ? 'box' : '',
] %}


<div class="{{ classes|join(' ') }}">
  <{{ tag }} class="{{ container_classes|join(' ') }}">
    {% for item in items %}
      <li class="list__item">
        {% if item.label %}
          <span class="list__item-label">{{ item.label|capitalize }}:</span>
        {% endif %}
        {{ item.text }}
      </li>
    {% endfor %}
  </{{ tag }}>
</div>
