{% set variant_class = variant ? 'list--' ~ variant : null %}

{% set classes = [
  'list',
  variant_class,
] %}

{% set h = heading_style|default('h2') %}

{% set tag = variant != 'none' ? variant : 'ul' %}

{% set container_classes = [
  'list__container',
  layout,
] %}


<div class="{{ classes|join(' ') }}">
  {% if heading %}
    <{{h}}>{{ heading }}</{{h}}>
  {% endif %}
  <{{tag}} class="{{ container_classes|join(' ') }}" role="list">
    {% for item in items %}
      <li class="list__item">
        {% if item.label %}
          <span class="list__item-label">{{ item.label|capitalize }}:</span>
        {% endif %}
        {{ item.text }}
      </li>
    {% endfor %}
  </{{tag}}>
</div>
