{% set variant_class = variant ? 'list--' ~ variant : null %}

{% set classes = [
  'list',
  variant_class,
] %}

{% set h = heading_style|default('h2') %}

{% set tag = variant != 'none' ? variant : 'ul' %}

{% set container_classes = [
  'list__container',
  layout,
] %}

{% set item_classes = [
  'list__item',
  wider_span ? 'wide_span' : '',
] %}

<div class="{{ classes|join(' ') }}">
  {% if heading %}
    <{{h}} class="list-heading">{{ heading }}</{{h}}>
    <hr />
    <br />
  {% endif %}
  <{{tag}} class="{{ container_classes|join(' ') }}" role="list">
    {% for item in items %}
      <li class="{{ item_classes|join(' ') }}">
        {% if item.label %}
          <span class="list__item-label">{{ item.label|title }}:</span>
        {% endif %}
        {{ item.text }}
      </li>
    {% endfor %}
  </{{tag}}>
</div>
