{% set variant_class = variant ? 'list--' ~ variant : null %}
{% if withmenu %}
  {% set variant_class = 'list--none' %}
{% endif %}

{% set classes = [
  'list',
  variant_class,
] %}

{% set h = heading_style|default('h2') %}

{% set tag = variant != 'none' ? variant : 'ul' %}

{% set container_classes = [
  'list__container',
  layout,
  withmenu ? 'with_menu' : ''
] %}

{% set item_classes = [
  'list__item',
  wider_span ? 'wide_span' : '',
] %}

<div class="{{ classes|join(' ') }}">
  {% if heading %}
    <{{h}} class="list-heading">{{ heading }}</{{h}}>
  {% endif %}
  <{{tag}} class="{{ container_classes|join(' ') }}" role="list">
    {% for item in items %}
      <li class="{{ item_classes|join(' ') }}">
        {% if item.label %}
          {% if newline %}
            <div class="list__item-label">{{ item.label }}:</div>
          {% else %}
            <span class="list__item-label">{{ item.label }}:</span>
          {% endif %}
        {% endif %}
        {% if item.text %}
          {% if newline %}
            <div class="list__item-text">{{ item.text }}</div>
          {% else %}
            {{ item.text }}
          {% endif %}
        {% else %}
          {{ item }}
        {% endif %}
      </li>
    {% endfor %}
  </{{tag}}>
</div>
