{# Set variant classes #}
{% set variant_class = variant ? 'tabs--' ~ variant : 'tabs--default' %}

{% set classes = [
  'tabs',
  variant_class
] %}

{% set tablist_classes = [
  'tabs__tablist',
  'cluster',
] %}

{% set tabpanel_classes = [
  'tabs__tabpanel',
] %}

<div class="{{ classes|join(' ') }}" {% if open_on_load %}data-open-on-load="{{ open_on_load }}"{% endif %}>

  <div role="tablist" class="{{ tablist_classes|join(' ') }}">
    {% for item in items %}

      {% set tab_id = item.id is not empty ? item.id : 'tab-' ~ item.label|replace({' ':'-'})|lower %}
      {% set panel_id = item.id is not empty ? item.id : 'tabpanel-' ~ item.label|replace({' ':'-'})|lower %}

      {% if open_on_load is empty %}
        {% set active_class = loop.index == 1 ? 'active' : '' %}
      {% endif %}

      {% if open_on_load == tab_id %}
        {% set active_class = 'active' %}
      {% endif %}

      <button
        id="{{ tab_id }}"
        class="{{ active_class }}"
        type="button"
        role="tab"
        aria-selected="true"
        aria-controls='{{ "tabpanel-" ~ item.label|replace({' ':'-'})|lower }}'
      >
        <div class="tabs__label focus">{{ item.label }}</div>
      </button>
    {% endfor %}
  </div>

  <div class="{{ tabpanel_classes|join(' ') }}">
    {% for item in items %}
      {% set tab_id = item.id is not empty ? item.id : 'tab-' ~ item.label|replace({' ':'-'})|lower %}
      {% set panel_id = item.id is not empty ? item.id : 'tabpanel-' ~ item.label|replace({' ':'-'})|lower %}

      <details
        id='{{ panel_id }}'
        role="tabpanel"
        tabindex="0"
        aria-labelledby='{{ tab_id }}'
        class="stack"
      >
        <summary><div class="tabs__label focus">{{ item.label }}</div></summary>
        {{ item.content }}
      </details>
    {% endfor %}
  </div>

</div>
