
{% set variant_hide = media_hide_portrait ? 'hangover--media-hide' : '' %}
{% set variant_with_bottom = bottom_content is not empty ? 'hangover--with-bottom' : '' %}

{% set classes = [
  'hangover',
  variant_hide,
  variant_with_bottom,
] %}

<div {{ attributes.addClass(classes).setAttribute('style', variant_styles|join) }}>
  <div class="hangover__top">
    <div class="with-sidebar container">
      {% if media is not empty %}
        <div class="hangover__top-media box">
          <div class="frame">
            {{ media }}
          </div>
        </div>
      {% endif %}
      <div class="hangover__top-content box">
        <div class="stack">
          <div class="stack">
            {% if brow %}
              <div class="hangover__top-content-brow">
                {% include "@atoms/Brow/Brow.twig" with brow %}
              </div>
            {% endif %}
            {% if heading %}
              <h1>{{ heading }}</h1>
            {% endif %}
          </div>
          {% if text %}
            <div class="hangover__text">
              {{ text }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="hangover__bottom">
    <div class="with-sidebar container">
      {% if media is not empty %}
        <div></div>
      {% endif %}
      <div class="hangover__bottom-content box">
        {{ bottom_content }}
      </div>
    </div>
  </div>
</div>
