
{% set variant_hide = hangover_hide_compact ? 'hangover--hide-compact' : '' %}
{% set variant_with_bottom = bottom_content is not empty ? 'hangover--with-bottom' : '' %}
{% set variant_background = background ? 'hangover--' ~ background : '' %}

{% set variant_styles = [] %}

{% if hangover_offset %}
  {% set variant_styles = variant_styles|merge([
    '--hangover-offset: -' ~ hangover_offset ~ 'ch;'
  ]) %}
{% endif %}

{% set classes = [
  'hangover',
  variant_background,
  variant_hide,
  variant_with_bottom,
] %}

<div class="{{ classes|join(' ') }}" style="{{ variant_styles|join }}">
  <div class="hangover__top">
    <div class="with-sidebar container">
      {% if hangover_content is not empty %}
        <div class="hangover__top-hangover-content">
          {{ hangover_content }}
        </div>
      {% endif %}
      <div class="hangover__top-content">
        <div class="stack">
          {% if brow %}
            <div class="hangover__top-content-brow">
              {% include "@atoms/Brow/Brow.twig" with brow %}
            </div>
          {% endif %}
          {% if heading %}
            <h1>{{ heading }}</h1>
          {% endif %}
          {% if text %}
            <div class="hangover__text">
              {{ text }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if bottom_content %}
      <div class="hangover__bottom">
        <div class="with-sidebar container">
          {% if hangover_content is not empty %}
            <div></div>
          {% endif %}
          <div class="hangover__bottom-content">
            {{ bottom_content }}
          </div>
        </div>
      </div>
  {% endif %}
</div>
