{% set variant_class = variant ? 'media-excerpt--' ~ variant : 'media-excerpt--default' %}

{% set classes = [
  'media-excerpt',
  'stack',
  variant_class,
] %}

<div class="{{ classes|join(' ')}}">
  {% if (title) or (button_data is not empty) %}
    <div class="media-excerpt__header switcher detect-wrap detect-wrap--observed">
      {% if title %}
      <div class="media-excerpt__title">
        <a href="{{ url }}">
          <h2 class="media-excerpt__heading">{{ title }}</h2>
        </a>
      </div>
      {% endif %}

      {% if button_data %}
        <div class="media-excerpt__button">
          {% include "@atoms/Button/Button.twig" with button_data %}
        </div>
      {% endif %}
    </div>
  {% endif %}
  
  {% if detail_list_data or pills or content %}
    <div class="media-excerpt__content stack">
      {{ content }}
      
      {% if detail_list_data or pills %}
        {% if detail_list_data %}
          <ul class="detail-list">
            {% if  detail_list_data.label  %}
              <li>
                <strong>{{ detail_list_data.label }}:</strong>
              </li>
            {% endif %}
            {% for detail in detail_list_data.details %}
              <li>{{ detail }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if pills %}
        <div class="media-excerpt__pills">
          {{ pills }}
        </div>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
</div>
