{% set variant_class = variant ? 'media-excerpt--' ~ variant : 'media-excerpt--default' %}

{% set classes = [
  'media-excerpt',
  'stack',
  variant_class,
] %}

<div class="{{ classes.join(' ')}}">
	<div class="media-excerpt__header switcher">
		<div class="media-excerpt__title">
			<a href="{{ url }}">
				<h4>{{ title }}</h4>
			</a>
		</div>
		{% if button_data %}
			<div class="media-excerpt__button">
				{% include "@atoms/Button/Button.twig" with button_data %}
			</div>
		{% endif %}
	</div>
	<div class="media-excerpt__content stack">
		{{ content }}
		<div>
			{% if button_data %}
				<ul class="detail-list cluster">
					{% if  detail_list_data.label  %}
						<li>
							<strong>{{ detail_list_data.label }}:</strong>
						</li>
					{% endif %}
					{% for detail in detail_list_data.details %}
						<li>{{ detail }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			<div class="media-excerpt__pills">
				{{ pills }}
			</div>
		</div>
	</div>
</div>
