{% set variant_class = variant ? 'media-excerpt--' ~ variant : 'media-excerpt--default' %}

{% set classes = [
  'media-excerpt',
  'stack',
  'box',
  variant_class,
] %}

<div class="{{ classes.join(' ')}}">
  <div class="media-excerpt__header switcher wrapping">
    <div class="media-excerpt__title">
      <a class="media-excerpt__title__link" href="{{ url }}">
        <div class="">
          <h4>{{ title }}</h4>
        </div>
      </a>
    </div>
    {% if button_data %}
      <div class="media-excerpt__button">
        <div class="card__button">
          <div class="box">
            {% include "@atoms/Button/Button.twig" with button_data %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="media-excerpt__content-wrapper">
    <div class="media_excerpt-content-inner">
      {{ content }}
    </div>
    {% if button_data %}
      <div class="media-excerpt__details">
        <span>{{ details_label }}:</span> {{ details }}
      </div>
    {% endif %}
    <div class="media-excerpt__pills">
      {{ pills }}
    </div>
  </div>
</div>
