{# Set up variant classes. #}
{% set variant_class = variant ? 'body--' ~ variant : 'body--default' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'body',
  'with-sidebar',
  variant_class,
] %}

{% set main_classes = [
  'body__main',
  'stack',
  aside ? 'divider' : ''
] %}

<div class="{{ classes|join(' ') }}">
  {% if aside is not empty %}
    <aside class="body__aside sidebar stack">
      {% if subheading is not empty %}
        <h2 class="body__aside_heading">{{ subheading }}</h2>
      {% endif %}

      {{ aside }}
    </aside>
  {% endif %}

  <div class="{{ main_classes|join(' ') }}">
    {% if heading is not empty %}
      <h2 class="body__heading">{{ heading }}</h2>
    {% endif %}

    {% if content is not empty %}
      <div class="body__content word-wrap">
        {% if lead is not empty %}
          <div class="body__lead">{{ lead }}</div>
        {% endif %}

        {{ content }}
      </div>
    {% endif %}
  </div>
</div>
