{# Atomic templates should be as "dumb" as possible. #}

{% set variant_styles = [] %}
{% set variant_styles = color ? variant_styles|merge(['--color: var(--color-' ~ color ~ ');']) : variant_styles %}

{% set icon_path = icon_path is not empty ? icon_path : 'icons.svg' %}
{# Create class array. #}
{# Include composable layout classes as needed. #}
{# Include variant classes form above. #}
{% set classes = [
  'icon-wrapper',
] %}

<div class="{{ classes|join(' ') }}" style=" {{ variant_styles|join }} ">
	<svg class="icon" aria-labelledby="id" aria-describedby="title"> 
	 <title id="id">{{id}} </title>
	  <desc id="title"> {{title}} </desc>
		<use xlink:href="{{ icon_path }}#{{ icon }}"></use>
	</svg>
</div>
