{# Atomic templates should be as "dumb" as possible. #}

{# A card could provide the heading (h1) for a Hero in the first position. #}
{# Usually the card heading witll be (h3). #}
{% set h = first_component ? 'h1' : 'h3' %}
{% set tag = variant == 'striped' ? 'a' : 'div' %}
{% set tag_href = tag == 'a' ? attributes.setAttribute('href', button.href) : '' %}

{% set type = variant ? 'card--' ~ variant : 'card--default' %}

{# Create class array. #}
{# Include composable layout classes as needed. #}
{# Include variant classes form above. #}
{% set classes = [
  'card',
  'switcher',
  type,
] %}

<{{tag}} {{ attributes.addClass(classes) }} {{ tag_href }}>
  {# Use composable layout classes as needed. #}
  {# Use BEM syntax if needed for styling classes. #}
  {% if media %}
    <div class="card__media">
      {{ media }}
    </div>
  {% endif %}
  <div class="card__main">
    {% if heading %}
      <div class="card__heading">
        <{{h}}>{{ heading }}</{{h}}>
      </div>
    {% endif %}
    {% if text %}
      <div class="card__text">
        {{ text }}
      </div>
    {% endif %}
    {% if button.href and tag == 'div' %}
      <div class="card__button">
        {{ link(button.label, button.href, {class: ['button', 'button--' ~ button.variant]}) }}
      </div>
    {% endif %}
  </div>
</{{tag}}>
