{# Set up variant classes. #}
{% set variant_class = variant ? '{{dashCase name}}--' ~ variant : '{{dashCase name}}--default' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  '{{dashCase name}}',
  variant_class,
] %}

	<div class="\{{ classes|join(' ') }}"> {# Use composable layout classes as needed. (stack, grid, center, etc.) #}
	{# Use BEM syntax for styling classes on sub-components. #}
		<div class="{{dashCase name}}__..."> \{{ example }}
	</div>
</div>
