{# Set up variant classes. #}
{% set variant_class = variant ? 'alert--' ~ variant : 'alert--default' %}

{# Create class array. #}
{% set classes = [
  'alert',
  'box',
  variant_class,
] %}

{% set icon_data = {
  icon: type,
  color: icon_data.color,
} %}

<div class="{{ classes|join(' ') }}" data-alert-type="{{ type }}" data-alert-dismissible="{{ dismissible }}">
  <div class="container">
    {% include "@atoms/Icon/Icon.twig" with icon_data %}

    <div class="alert__content">
      {% if heading is not empty %}
        <p><strong>{{ heading }}</strong></p>
      {% endif %}

      {% if content|length > 1 %}
        <ul>
          {% for message in content %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ content|first }}
      {% endif %}
    </div>

    {% if dismissible %}
      <div class="alert__dismiss">
        <button role="button" tabindex="0" class="alert__dismiss-button" aria-label="Dismiss alert">
          <span></span>
          <span></span>
        </button>
      </div>
    {% endif %}

  </div>
</div>
