{# Set up variant classes. #}
{% set classes = [
  'profile-bio'
] %}

<div class="{{ classes|join(' ') }}">
  <div class="profile-bio__main stack">
    <div class="profile-bio__header {{ share ? 'cluster detect-wrap detect-wrap--observed' : '' }}">
      <h1 class="profile-bio__heading">{{ name }}</h1>
      {% if share %}
        {% include "@molecules/Share/Share.twig" with share %}
      {% endif %}
    </div>

    {% if title|render %}
      <div class="profile-bio__title">{{ title }}</div>
    {% endif %}

    {% if division|render %}
      <div class="profile-bio__division">{{ division }}</div>
    {% endif %}

    {% if date|render %}
      <div class="profile-bio__date">{{ date }}</div>
    {% endif %}

    {% if content|render %}
      <div class="profile-bio__text">{{ content }}</div>
    {% endif %}

    {% if sub_component_data is iterable %}
      {% for item in sub_component_data %}
        {{ item }}
      {% endfor %}
    {% elseif sub_component_data|trim %}
      {{ sub_component_data }}
    {% endif %}
  </div>
</div>
