{% set variant_class = variant ? 'action-list--' ~ variant : 'action-list--default' %}

{% set classes = [
  'action-list',
  'stack',
  variant_class,
] %}

<div class="{{ classes|join(' ') }}">
  {% if heading|render %}
    <h2 class="action-list__heading">{{ heading }}</h2>
  {% endif %}

  {% if text|render %}
    <div class="action-list__text">{{ text }}</div>
  {% endif %}

  <div class="action-list__items">
    {% for link in links %}
      <div class="action-list__item cluster box">
        <div class="action-list__item__content">
          <h3 class="action-list__item__heading">{{ link.label }}</h3>
          {% if link.description|render %}
            <div class="action-list__item__description">{{ link.description|render }}</div>
          {% endif %}
        </div>
        <div>
          {% include "@atoms/Button/Button.twig" with {
            label: link.button_data.label,
            href: link.button_data.href,
            variant: 'secondary',
          } %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
