<div class="site-branding cluster">
  <div class='site-branding__logo'>
    <a 
      href="{{ url|default('/') }}" 
      title="{{ label }} {{ sub_label }}"
      aria-label="Homepage: {{ label }} {{ sub_label }}"
    >
      <img src='{{ logo }}' alt="{{ label }} icon"/>
    </a>
  </div>
  <div class="site-branding__labels">
    <a 
      href="{{ url|default('/') }}" 
      title="{{ label }} {{ sub_label }}"
      aria-label="Homepage: {{ label }} {{ sub_label }}"
    >
      <div class="site-branding__label">
        {{ label }}
      </div>
      <div class="site-branding__sub-label">
        {{ sub_label }}
      </div>
    </a>
  </div>
</div>
