{# Atomic templates should be as "dumb" as possible. #}

{# A card could provide the heading (h1) for a Hero in the first position. #}
{# Usually the card heading witll be (h3). #}
{% set h = first_component ? 'h1' : 'h2' %}
{% set tag = clickable_card ? 'a' : 'div' %}
{% set tag_href = tag == 'a' ? attributes.setAttribute('href', button_data.href) : '' %}

{% set variant = variant ? 'card--' ~ variant : 'card--default' %}
{% set variant_clickable = clickable_card ? 'card--clickable' : '' %}
{% set variant_background = background ? 'card--background-' ~ background : '' %}

{% set styles = [] %}

{% if aspect is not empty %}
  {% set styles = styles|merge([
    '--frame-h: ' ~ aspect[0] ~ ';',
    '--frame-v: ' ~ aspect[1] ~ ';',
  ]) %}
{% endif %}

{# Create class array. #}
{# Include composable layout classes as needed. #}
{# Include variant classes form above. #}
{% set classes = [
  'card',
  variant,
  variant_background,
  variant_clickable,
] %}

<{{tag}} class="{{ classes|join(' ') }}" style="{{ styles|join }}" {{ tag_href }}>
  <div class="switcher">
    {% if icon_data and variant == 'card--striped' %}
      {% include "@atoms/Icon/Icon.twig" with icon_data %}
    {% elseif media %}
      <div class="card__media">
        <div class="frame">
          {{ media }}
        </div>
      </div>
    {% endif %}
    {% if heading or text or ( button_data.href and tag == 'div' ) %}
      <div class="card__main stack center">
        {% if heading %}
          <div class="card__heading">
            <{{h}}>{{ heading }}</{{h}}>
          </div>
        {% endif %}
        {% if text %}
          <div class="card__text">
            {{ text }}
          </div>
        {% endif %}
        {% if button_data.href and tag == 'div' %}
          <div class="card__button">
            {% include "@atoms/Button/Button.twig" with button_data %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</{{tag}}>
