{# Atomic templates should be as "dumb" as possible. #}

{# Card heading depends if a section heading exists or not. #}
{% set h = has_section_heading ? 'h3' : 'h2' %}
{# A card could provide the heading (h1) for a Hero in the first position. #}
{% if first_component %}
  {% set h = 'h1' %}
{% endif %}

{% set tag = clickable_card ? 'a' : 'div' %}

{% if button_data is not empty and button_data[0] is empty %}
  {% set button_data = [button_data] %}
{% endif %}
{% set tag_href = tag == 'a' and button_data[0] ? button_data[0].href : '' %}

{% set variant = variant ? 'card--' ~ variant : 'card--default' %}
{% set variant_clickable = clickable_card ? 'card--clickable' : '' %}
{% set variant_background = background ? 'card--background-' ~ background : '' %}
{% set extra_padding = extra_padding ? 'extra-padding' : '' %}

{% set styles = [] %}

{% if aspect is not empty %}
  {% set styles = styles|merge([
    '--frame-h: ' ~ aspect[0] ~ ';',
    '--frame-v: ' ~ aspect[1] ~ ';',
  ]) %}
{% endif %}

{# Create class array. #}
{# Include composable layout classes as needed. #}
{# Include variant classes form above. #}
{% set classes = [
  'card',
  variant,
  variant_background,
  variant_clickable,
  extra_padding,
] %}

<{{tag}} class="{{ classes|join(' ') }}" style="{{ styles|join }}" {% if tag_href %} href="{{ tag_href }}" {% endif %}>
  <div class="card__inner switcher">
    {% if icon_data and variant == 'card--striped' %}
      {% include "@atoms/Icon/Icon.twig" with icon_data %}
    {% elseif media %}
      <div class="card__media caption-container">
        <div class="frame">{{ media }}</div>
        {% if media_caption.show and media_caption.text %}
          <div class="card__media_caption">{{ media_caption.text }}</div>
        {% endif %}
        {% if caption_overlay %}
        <div class="caption-overlay">
            <span class="media-caption">{{ media_caption.text}}</span> 
            <span class="media-citation">{{citation}}</span>
        </div>          
        {% endif %}
      </div>
    {% endif %}
    {% if heading or text or ( button_data[0].href and tag == 'div' ) %}
      <div class="card__main stack">

        {% if heading is not empty %}
          <div class="card__heading">
            {% if icon_data and variant == 'card--striped-aligned' %}
              {% include "@atoms/Icon/Icon.twig" with icon_data %}
            {% endif %}
            <{{h}} class="card__heading_tag">{{ heading }}</{{h}}>
          </div>
        {% endif %}

        {% if text is not empty or (button_data is not empty and not clickable_card) %}
          <div class="card__body">
            
            {% if text is not empty %}
            <div class="card__text">
                {{ text }}
              </div>
            {% endif %}
            
            {% if tag == 'div' and button_data is not empty %}
            {% set button_class = variant == 'card--striped-aligned' ? 'cluster' : 'stack' %}
              <div class="card__buttons {{ button_class }}">
                {% for item in button_data %}
                  {% if item.href %}
                    {% include "@atoms/Button/Button.twig" with item %}
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}

          </div>
        {% endif %}

      </div>
    {% endif %}
  </div>
</{{tag}}>
