{# Step heading depends if a section heading exists or not. #}
{% set h = heading ? 'h3' : 'h2' %}

{# Set up variant classes. #}
{% set color_class = color ? 'steps--color-' ~ color : 'steps--color-default' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'steps',
  variant ? 'steps--' ~ variant : '',
  color_class,
] %}

<div class="{{ classes|join(' ') }}">
  <div class="stack">
    {% if heading|render %}
      <h2 class="step__heading">{{ heading }}</h2>
    {% endif %}

    {% if lead|render %}
      <div class="step__lead">{{ lead }}</div>
    {% endif %}

    {# Use composable layout classes as needed. (stack, grid, center, etc.) #}
    {# Use BEM syntax for styling classes on sub-components. #}
    <div class="steps__steps">
      {% for step in steps %}
        <div class="steps__step step">
          <{{ h }} class="step__label">
            <span {% if variant != 'custom-index' %}class="sr-only"{% endif %}>
              {% if variant == 'custom-index' %}
                {{ step.index }}
              {% else %}
                {{ loop.index }}
              {% endif %}
            </span>
            {{ step.label }}
          </{{ h }}>
          <div class="center">
            {{ step.content }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
