{# Set up variant classes. #}
{% set variant_class = variant ? 'data-visualization-embed--' ~ variant : 'data-visualization-embed--default' %}
{% set responsive_class = mobile_url ? 'responsive-enabled' : '' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'data-visualization-embed',
  variant_class,
  responsive_class,
] %}

<div class="{{ classes|join(' ') }}"> {# Use composable layout classes as needed. (stack, grid, center, etc.) #}
  {# Use BEM syntax for styling classes on sub-components. #}
  <div class="data-visualization-embed-desktop">
    <div class="data-visualization-container" style="position:relative;padding-top:{{ height / width * 100 }}%;">
      <div class="data-visualization-clip">
        <iframe id="iframe-content-{{ random(100) }}" src="{{ url }}" frameborder="0">
          {{- 'Your browser does not support inline frames'|t -}}
        </iframe>
      </div>
    </div>
  </div>
  <div class="data-visualization-embed-responsive">
    <div class="data-visualization-container" style="position:relative;padding-top:{{ mobile_height / mobile_width * 100 }}%;">
      <div class="data-visualization-clip">
        <iframe id="iframe-content-{{ random(101, 200) }}" src="{{ mobile_url }}" frameborder="0">
          {{- 'Your browser does not support inline frames'|t -}}
        </iframe>
      </div>
    </div>
  </div>
</div>
