{# Set up variant classes. #}
{% set variant_type = variant ? 'button--' ~ variant : 'button--primary' %}
{% set variant_size = size ? 'button--' ~ size : 'button--normal' %}
{% set variant_icon = icon ? 'icon--' ~ icon : 'icon--arrow' %}
{% set variant_full_width = full_width ? 'full-width' : '' %}
{% set variant_label_align = label_align ? 'label-align--' ~ label_align : '' %}
{# TODO: Add touch device support for collapsed. #}
{% set variant_collapsed = collapsed and not disabled ? 'collapsed' : '' %}
{% set variant_disabled = disabled ? 'disabled' : '' %}

{# Create class array #}
{# Include composable layout classes as needed. #}
{# Include variant classes form above. #}
{% set classes = [
  'button',
  variant_type,
  variant_size,
  variant_icon,
  variant_full_width,
  variant_label_align,
  variant_noaction,
  variant_collapsed,
  variant_disabled,
  custom
] %}

{% if tag == 'button' %}
  <{{ tag }} class="{{ classes|join(' ') }}"{% if aria_label %} aria-label="{{ aria_label }}"{% endif %}>{{ label }}</{{ tag }}>
{% elseif collapsed %}
  <a class="{{ classes|join(' ') }}"{% if aria_label %} aria-label="{{ aria_label }}"{% endif %} href="{{ href }}">
    <span>{{ label }}</span>
  </a>
{% elseif disabled %}
  <div class="{{ classes|join(' ') }}"{% if aria_label %} aria-label="{{ aria_label }}"{% endif %} aria-disabled="true">
    <span>{{ label }}</span>
  </div>
{% else %}
  {{ link(label, href, {
    'class': classes,
    'style': (color is defined and color is not empty) ? '--dynamic-color: ' ~ color : NULl,
    'aria_label': aria_label,
  }) }}
{% endif %}
