{# Set up variant classes. #}
{% set variant_class = variant ? 'view-results--' ~ variant : 'view-results--default' %}

{% set list_type = list_type ?? 'ul' %}

{% set has_header = (form and not form_in_sidebar) or (header) %}
{% set has_footer = (footer is not empty) or (pager is not empty) or (footer_sidebar is not empty) or (items_per_page is not empty) %}

{% set divider = list_type_divider ? '' : 'no-divider' %}

{% set footer_sidebar_class = footer_sidebar or items_per_page ? 'with-sidebar' : '' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'view-results',
  'container',
  variant_class,
  has_header ? 'has-header' : 'no-header',
  has_footer ? 'has-footer' : 'no-footer',
  no_top_margin ? 'no-top-margin' : '',
  list_divider_skip_first ? 'list-divider-skip-first' : '',
  view_name,
  view_display,
] %}

<div class="{{ classes|join(' ') }}">

  {% if has_header %}
    <div class="view-results__header with-sidebar {{ sidebar_direction_header }}">
      <div class="stack">
        {% if header_sidebar %}
          {{ header_sidebar }}
        {% endif %}
      </div>
      <div class="stack">
        {% if form and not form_in_sidebar %}
          {{ form }}
        {% endif %}

        {% if header %}
          {{ header }}
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="view-results__results with-sidebar {{ sidebar_direction_results }} {{ divider }}">
    {% if sidebar or form_in_sidebar %}
      <div class="stack sidebar">
        {% if form_in_sidebar %}
          {{ form }}
        {% endif %}

        {% if sidebar %}
          {{ sidebar }}
        {% endif %}
      </div>
    {% endif %}
    
    <div class="stack content{% if variant == 'grouped_view' %} grouped-view{% endif %}">

      {% if rows -%}
        <div>
          {% if content_header or items_per_page%}
            <div class="cluster view-results_header_wrapper">
              <div class="views-results_content-header">{{ content_header }}</div>

              {% if items_per_page %}
                <div class="alt-select-style items-per-page">{{ items_per_page }}</div>
              {% endif %}
            </div>
          {% endif %}

          {% if list_label  %}
            <h2 class="list-label">{{list_label}}</h2>
          {% endif %}
        </div>
        <{{ list_type }} class="stack">
        {% if variant == 'grouped_view' %}
          
          {% for row in rows %}
            <li class="group-li">
              {% if row.list_label  %}
                <h2 class="list-label">{{ row.list_label }}</h2>
              {% endif %}

              <{{ list_type }} class="stack">
                {% for item in row.items %}
                  <li>
                    {% include "@molecules/ResultExcerpt/ResultExcerpt.twig" with {
                      brow: item.brow,
                      title: item.title,
                      content: item.content,
                      url: item.url,
                      aria_label: item.aria_label,
                      button_data: item.button_data,
                      detail_list_data: item.detail_list_data,
                      pills: item.pills,
                      main_file: item.main_file,
                    } %}
                  </li>
                {% endfor %}
              </{{ list_type }}>
            </li>
          {% endfor %}
        {% else %}
          
          {% for row in rows %}
            <li>
              {% include "@molecules/ResultExcerpt/ResultExcerpt.twig" with {
                brow: row.brow,
                title: row.title,
                content: row.content,
                url: row.url,
                aria_label: row.aria_label,
                button_data: row.button_data,
                detail_list_data: row.detail_list_data,
                pills: row.pills,
                main_file: row.main_file,
              } %}
            </li>
          {% endfor %}
        {% endif %}
        </{{ list_type }}>
      {% elseif rows is empty -%}
        <div>
          {% if no_results_msg %}
            {{ no_results_msg }}
          {% else %}
            <p>{{ 'No results found. Please try another search.'|t }}</p>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  {% if has_footer %}
  <div class="view-results__footer {{ footer_sidebar_class }} {{ sidebar_direction_footer }}" >

    {% if footer_sidebar or items_per_page %}
    <div class="stack box alt-select-style">

      {% if footer_sidebar %}
        {{ footer_sidebar }}
      {% endif %}
    </div>
    {% endif %}

    {% if pager or footer %}
    <div class="stack">
      {{ pager }}

      {% if footer %}
        {{ footer }}
      {% endif %}
    </div>
    {% endif %}

  </div>
  {% endif %}

</div>
