{# Set up variant classes. #}
{% set variant_class = variant ? 'view-results--' ~ variant : 'view-results--default' %}

{% set list_type = list_type ?? 'ul' %}

{% set has_header = (form and not form_in_sidebar) or (header) %}
{% set has_footer = (footer is not empty) or (pager is not empty) or (footer_sidebar is not empty) or (items_per_page is not empty) %}

{% set divider = list_type_divider ? '' : 'no-divider' %}

{% set footer_sidebar_class = footer_sidebar or items_per_page ? 'with-sidebar' : '' %}

{# Create class array. #}
{# Include composable layout classes as needed. (stack, grid, center, etc.) #}
{# Include variant classes form above. #}
{% set classes = [
  'view-results',
  'container',
  'stack',
  variant_class,
  has_header ? 'has-header' : 'no-header',
  has_footer ? 'has-footer' : 'no-footer',
  view_name,
  view_display,
] %}

<div class="{{ classes|join(' ') }}">

  {% if has_header %}
    <div class="view-results__header with-sidebar {{ sidebar_direction_header }}">
      <div class="stack">
        {% if header_sidebar %}
          {{ header_sidebar }}
        {% endif %}
      </div>
      <div class="stack">
        {% if form and not form_in_sidebar %}
          {{ form }}
        {% endif %}

        {% if header %}
          {{ header }}
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="view-results__results with-sidebar {{ sidebar_direction_results }} {{ divider }}">
    <div class="stack sidebar">
      {% if sidebar or form_in_sidebar %}
        {% if form_in_sidebar %}
          {{ form }}
        {% endif %}

        {% if sidebar %}
          {{ sidebar }}
        {% endif %}
      {% endif %}
    </div>
    <div class="stack content">
      {% if rows -%}
        <{{ list_type }}>
        {% for row in rows %}
          <li>
          {% include "@molecules/ResultExcerpt/ResultExcerpt.twig" with {
            brow: row.brow,
            title: row.title,
            content: row.content,
            url: row.url,
            button_data: row.button_data,
            detail_list_data: row.detail_list_data,
            pills: row.pills,
            main_file: row.main_file,
          } %}
          </li>
        {% endfor %}
        </{{ list_type }}>
      {% elseif rows is empty -%}
        <div class="box">
          <p>{{ no_results_msg ? no_results_msg : 'No results found. Please try another search.'|t }}</p>
        </div>
      {% endif %}
    </div>
  </div>

  {% if has_footer %}
  <div class="view-results__footer {{ footer_sidebar_class }} {{ sidebar_direction_footer }}" >

    {% if footer_sidebar or items_per_page %}
    <div class="stack box alt-select-style">
      {% if items_per_page %}
      <div class="alt-select-style">
        {{ items_per_page }}
      </div>
      {% endif %}

      {% if footer_sidebar %}
        {{ footer_sidebar }}
      {% endif %}
    </div>
    {% endif %}

    {% if pager or footer %}
    <div class="stack">
      {{ pager }}

      {% if footer %}
        {{ footer }}
      {% endif %}
    </div>
    {% endif %}

  </div>
  {% endif %}

</div>
